/* Base styles */
body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin: 3rem 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* Negative margin to offset flex container padding */
}

article {
    flex: 1;
    margin: 10px;
}

/* Header and Navigation */
header > img {
    display: block;
    margin: 0 auto;
}

nav {
    background-color: rgb(53, 44, 44);
    border-radius: 10px;
    padding: 10px;
}

nav ul li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: x-large;
}

nav ul li > a:hover {
    color: cadetblue;
}

/* Articles */
#firstArticle {
    background-image: url(pastaImage2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
}

.secondArticle {
    background-color: rgb(231, 191, 186);
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

footer div {
    flex: 1;
    text-align: center;
    padding: 10px;
}

footer div > img {
    margin: 10px auto;
    display: block;
}

footer div > p {
    text-align: center;
    text-decoration: solid overline;
    margin: 10px auto;
}

/* Hover effect for the first article */
#firstArticle:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  /* Hover effect for the second articles */
  .secondArticle:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  
  /* Style the links within the articles on hover */
  .secondArticle a:hover {
    color: #ff6600; 
    text-decoration: underline; 
  }

/* Media Queries */
@media screen and (max-width: 768px) {
    header > img {
        max-width: 100%;
    }

    nav ul {
        text-align: center;
    }
}

